@model FilmsCatalog.Models.Movies.EditMovieViewModel
@{
    ViewData["Title"] = "Редактирование фильма";
}

<h1>Редактирование фильм</h1>
<form asp-action="Edit" asp-controller="Home" method="Post"
      enctype="multipart/form-data">
      <input type="hidden" asp-for=MovieId />
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description" rows=6></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ReleaseYear"></label>
        <input type="number" class="form-control" asp-for="ReleaseYear">
        <span class="text-danger" asp-validation-for="ReleaseYear"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Director" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Director">
        <span class="text-danger" asp-validation-for="Director"></span>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>